.glow {
    text-shadow: 0 0 10px rgb(255, 255, 255); 
}


.glassmorphism {
    background-color: rgba(255, 255, 255, 0.249);
    backdrop-filter: blur(5px);
}


.active-glow {
    text-shadow: 0 0 10px rgb(162, 0, 255); 
}

.glow-dark {
    text-shadow: 0 0 10px rgb(0, 0, 0);
}


