@font-face {
    font-family: 'Akira'; /* Example font name */
    src: url('../fonts/Akira.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'against-regular';
    src: url('../fonts/against-regular.ttf') format('truetype');
}


@font-face {
    font-family: 'techno';
    src: url('../fonts/Techno.ttf') format('truetype');
}


@font-face {
    font-family: 'technova';
    src: url('../fonts/Technova.ttf') format('truetype');
}

@font-face {
    font-family: 'dogica';
    src: url('../fonts/dogica.ttf') format('truetype');
}




.akira {
    font-family: 'Akira', sans-serif; 
}

.against {
    font-family: 'against-regular', sans-serif; 
}

.techno {
    font-family: 'techno', sans-serif; 
}

.technova {
    font-family: 'technova', sans-serif; 
}

.dogica {
    font-family: 'dogica', sans-serif; 
}