.typewriter {
    border-right: 2px solid rgba(255, 255, 255, 0.75); 
    white-space: nowrap; 
    overflow: hidden; 
    display: inline-block; 
    animation: blink 0.5s step-end infinite; 
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
