html {
    scroll-behavior: smooth;
}
  

body {
    background-image: url('../images/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    height: 100%; 
    margin: 0; 
    width: 100%;
    overflow-x: hidden;
}



header {
    position: relative; 
    backdrop-filter: blur(7px); 
    z-index: 10; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}


.navbar {
    background: transparent; 
}
