html {
    scroll-behavior: smooth;
}
  

body {
    background-image: url('../images/background.jpg');
    background-size: cover; /* Ensure the image covers the whole screen */
    background-repeat: no-repeat; /* Prevent repetition */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Keep the image fixed in place */
    height: 100%; /* Cover the entire viewport */
    margin: 0; /* Remove any margin */
    width: 100%;
    overflow-x: hidden;
}


/* Glassmorphism effect for the header */
header {
    position: relative; /* Ensure it has positioning context */
    backdrop-filter: blur(7px); /* Apply the blur effect */
    z-index: 10; /* Keep it above other elements */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Add a drop shadow */
}

/* Make navbar items transparent */
.navbar {
    background: transparent; /* Make the navbar transparent */
}
