.main-header,
.button1-margin {
    margin: 20px; 
}

@media (min-width: 769px) {
    .main-header {
        margin: 10rem 0 0 0; 
    }
    .button1-margin {
        margin: 3rem 0 0 1rem; 
    }
}

@media (max-width: 768px) {
    .main-header {
        margin: 5rem 0 0 1rem; 
    }
    .button1-margin {
        margin: 2rem 0 0 1.5rem; 
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        opacity: 0;
    }
}
